
div.classLeftDivBox {
}

div.classCentreDivBox {
    width: 80%;
    min-width: 1000px;
    height: 80px;
    float: left;
    margin-left: 100px;
    margin-right: 100px;
    display: block;
}

div.classRightDivBox {
}

div.classHeaderDiv {
    width: 100%;
    height: 70px;
    border: 1px solid black;
    /*border-left:none;
            border-top:none;
            border-right:none;
            border-bottom:2px solid black;*/
    border-radius: 10px;
    display: block;
}

label.classLabelAppName {
    font-family: Calibri;
    font-size: 24px;
    padding-left: 5px;
    padding-top: 5px;
}

div.classDivListAllItemInventory {
    display: block;
    width: 100%;
    /*border: 1px solid black;*/
    margin-top: 20px;
    padding: 5px;
}

label.classLabelTitleListAllItemInventory {
    font-family: Calibri;
    font-size: 18px;
}

/* ************************** */
/* style for table */
/* start */
#idTableShoeInventory {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    /*width: 100%; */
    width: 100%;
}

    #idTableShoeInventory td, #idTableShoeInventory th {
        border: 1px solid #ddd;
        padding: 8px;
    }

    #idTableShoeInventory tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    #idTableShoeInventory tr:hover {
        background-color: #ddd;
        cursor: pointer;
    }

    #idTableShoeInventory th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #04AA6D;
        color: white;
    }

/* end */
/* style for table */
/* ************************** */



/* ************************** */
/* style for add new button */
/* start */

.btn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
}

    /* Darker background on mouse-over */
    .btn:hover {
        background-color: RoyalBlue;
    }

/* end */
/* style for add new button */
/* ************************** */

div.classDivAddItemToInventory {
    display: block;
    width: 100%;
    /*border: 1px solid black;*/
    margin-top: 20px;
    padding: 5px;
}



table.classTableContaierAddItemToInventory {
    width: 100%;
}

    table.classTableContaierAddItemToInventory thead tr td.left {
        width: 20%;
    }

    table.classTableContaierAddItemToInventory thead tr td.right {
        width: 80%;
    }

label.classLabelAddNewItem {
    font-family: Calibri;
    font-size: 18px;
}

label.classLabelInquire {
    font-family: Calibri;
    font-size: 16px;
}

input.classTextBoxInquire {
    width: 80%;
    height: 30px;
    border: 2px solid black;
    border-radius: 5px;
    font-family: Calibri;
    font-size: 16px;
}



.classTextAreaShoeDescription {
    font-family: Calibri;
    font-size: 16px;
    width: 80%;
    height: 80px;
    border: 2px solid black;
    border-radius: 5px;
    overflow: scroll;
    resize: none;
}


input.classInputShoeSize {
    width: 120px;
    height: 30px;
    border: 2px solid black;
    border-radius: 5px;
    text-align: center;
    font-family: Calibri;
    font-size: 16px;
}

input.classInputQuantity {
    width: 120px;
    height: 30px;
    border: 2px solid black;
    border-radius: 5px;
    text-align: center;
    font-family: Calibri;
    font-size: 16px;
}

/* ************************** */
/* style for submit button -
            add new shoe item section */
/* start */

button.classButtonSubmit {
    background-color: white;
    border: 2px solid #04AA6D;
    color: #04AA6D;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: Calibri;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

    button.classButtonSubmit:hover {
        background-color: #04AA6D;
        color: white;
    }


/* end */
/* style for submit button -
        add new shoe item section */
/* ************************** */



/* ************************** */
/* style for cancel button -
        add new shoe item section */
/* start */

button.classButtonCancel {
    background-color: white;
    border: 2px solid #ffff4d;
    color: #ffff4d;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: Calibri;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

    button.classButtonCancel:hover {
        background-color: #d1e0e0;
    }

/* end */
/* style for cancel button -
        add new shoe item section */
/* ************************** */

table.classTableContaierUpdateDeleteItemToInventory {
    width: 100%;
}

    table.classTableContaierUpdateDeleteItemToInventory thead tr td.left {
        width: 20%;
    }

    table.classTableContaierUpdateDeleteItemToInventory thead tr td.right {
        width: 80%;
    }

label.classLabelUpdateDeleteItem {
    font-family: Calibri;
    font-size: 18px;
}

input.classTextBoxUpdateDeleteShoeId {
    width: 80%;
    height: 30px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: none;
    text-align: left;
    font-family: Calibri;
    font-size: 16px;
}

/* ************************** */
/* delete selection button */
/* start */
button.classButtonDeleteSelection {
    background-color: #ff0000;
    border: 2px solid #ff0000;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: Calibri;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    float: right;
}

    button.classButtonDeleteSelection:hover {
        background-color: #ff4d4d;
    }

/* end */
/* delete selection button */
/* ************************** */


div.classDivUpdateDeleteItemToInventory {
    display: block;
    width: 100%;
    /*border: 1px solid black;*/
    margin-top: 20px;
    padding: 5px;
}


/* ************************** */
/* style for snackbar - 
            get (load), post, put, 
            delete */
/* start */

/* snackbar_initial_load */

#snackbar_get_initial_load {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #00cc66;
    opacity: 0.7;
    color: black;
    text-align: center;
    font-family: Calibri;
    border: 2px solid black;
    border-radius: 10px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 30px;
    font-size: 18px;
}

/* snackbar_post */
#snackbar_post {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #80b3ff;
    opacity: 0.7;
    color: black;
    text-align: center;
    font-family: Calibri;
    border: 2px solid black;
    border-radius: 10px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 30px;
    font-size: 18px;
}


/* snackbar_put */
#snackbar_put {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #ffff00;
    opacity: 0.7;
    color: black;
    text-align: center;
    font-family: Calibri;
    border: 2px solid black;
    border-radius: 10px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 30px;
    font-size: 18px;
}

/* snackbar_delete */
#snackbar_delete {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #ff9900;
    opacity: 0.7;
    color: black;
    text-align: center;
    font-family: Calibri;
    border: 2px solid black;
    border-radius: 10px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 30px;
    font-size: 18px;
}



    #snackbar_post.show,
    #snackbar_get_initial_load.show,
    #snackbar_put.show,
    #snackbar_delete.show {
        visibility: visible;
        -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
        animation: fadein 0.5s, fadeout 0.5s 2.5s;
    }

@-webkit-keyframes fadein {
    from {
        top: 0;
        opacity: 0;
    }

    to {
        top: 30px;
        opacity: 0.7;
    }
}

@keyframes fadein {
    from {
        top: 0;
        opacity: 0;
    }

    to {
        top: 30px;
        opacity: 0.7;
    }
}

@-webkit-keyframes fadeout {
    from {
        top: 30px;
        opacity: 0.7;
    }

    to {
        top: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        top: 30px;
        opacity: 0.7;
    }

    to {
        top: 0;
        opacity: 0;
    }
}


/* end */
/* style for snackbar - 
            get (load), post, put, 
            delete */
/* ************************** */

